<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net40" />
  <package id="Fody" version="4.2.1" targetFramework="net40" developmentDependency="true" />
  <package id="Ghostscript.NET" version="1.2.1" targetFramework="net40" />
  <package id="Interop.Microsoft.Office.Interop.OneNote" version="1.1.0.0" targetFramework="net40" />
  <package id="kenjiuno.PdfSharp.Xps" version="1.1.4" targetFramework="net40" />
  <package id="kenjiuno.PdfSharp-WPF" version="1.31.5377" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net40" />
  <package id="Ns.Microsoft.Office.Interop.All" version="15.0.0.2" targetFramework="net40" />
  <package id="OpenMcdf-2" version="2.1.2" targetFramework="net40" />
</packages>