.idea/*
OfficeToPDF.suo
sign-files.bat
.vs
OfficeToPDF/bin
OfficeToPDF/obj
OfficeToPDF/OfficeToPDF.csproj.user
OfficeToPDF/bin/Release/OfficeToPDF.exe
OfficeToPDF/bin/Release/OfficeToPDF.pdb
OfficeToPDF/bin/Release/OfficeToPDF.vshost.exe
OfficeToPDF/bin/Release/OfficeToPDF.vshost.exe.manifest
OfficeToPDF/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
OfficeToPDF/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
OfficeToPDF/obj/x86/Release/OfficeToPDF.csproj.FileListAbsolute.txt
OfficeToPDF/obj/x86/Release/OfficeToPDF.exe
OfficeToPDF/obj/x86/Release/OfficeToPDF.pdb
OfficeToPDF/obj/x86/Release/ResolveAssemblyReference.cache
OfficeToPDF/obj/x86/Release/OfficeToPDF.csprojResolveAssemblyReference.cache
OfficeToPDF/bin/x86/Release-signed/*
OfficeToPDF/obj/x86/Release-signed/*.*
OfficeToPDF/bin/Debug/*
OfficeToPDF/obj/x86/Debug/*.*
OfficeToPDF/obj/x86/Release/*.cache
OfficeToPDF/bin/x64/Debug/OfficeToPDF.vshost.exe.manifest
OfficeToPDF/bin/x64/Debug/OfficeToPDF.vshost.exe
OfficeToPDF/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OfficeToPDF/obj/x64/Debug/OfficeToPDF.csproj.FileListAbsolute.txt
OfficeToPDF/obj/x64/Debug/OfficeToPDF.csproj.ResolveComReference.cache
OfficeToPDF/bin/Release/*
OfficeToPDF/bin/x64/Release-signed/*
OfficeToPDF/obj/x64/Release-signed/*
OfficeToPDF/obj/x86/Release-signed/Costura/*
packages/*
OfficeToPDF/obj/x86/Debug/Costura/B9B538E7A64DF5E08DC6B8969A303BD77CE97645.costura.pdfsharp.xps.dll.compressed
OfficeToPDF/obj/x86/Debug/Costura/77D0CFFBE2536C71D91BA339FAEA8983D5D13501.costura.pdfsharp-wpf.dll.compressed
